<div id="events" class="edit container">

  <div class="row">
    
    <div class="col s6 m6">
      <%= link_to root_path, :class => "waves-effect waves-light btn" do %>
        <i class="material-icons left">keyboard_arrow_left</i> Back to Calendar
      <% end %>
    </div>
    
    <div class="col s6 m6 right-align">
      <%= link_to 'Delete Event', delete_event_path(@event, @event.edit_code), method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn grey" %>
    </div>


  </div>  
  
  <div class="row">
    <h2 class="left-align">Editing Event</h2>  
    <div class="divider"></div>
  </div>
    
  <%= render partial: "form", locals: {submit_action: "Update Event"} %>
  
</div>