<div id="events" class="new container">

  <div class="row">
    
    <%= link_to root_path, :class => "waves-effect waves-light btn" do %>
      <i class="material-icons left">keyboard_arrow_left</i> Back to Calendar
    <% end %>

  </div>  
  
  <div class="row">
    <h2 class="left-align">Add Event</h2>  
    <div class="divider"></div>
  </div>
    
  <%= render partial: "form", locals: {submit_action: "Add Event"} %>z
  
</div>