/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#events.index {
  
  // the current focus of the calendar (April 2016, ...)
  #focus {
    position: relative;
    top: 8px;
    padding: 0px 20px;
    display: inline;
  }
  
  #calendar {
    width: 100%;
    display: table;
    table-layout: fixed; /* optional, for equal spacing */
    border-collapse: collapse;
    
    // style header
    thead > tr {
      background-color: #26a69a;
      color: white;
      
      // hide overflow for mobile compatibility
      th {overflow: hidden; }
    }
    
    // style cells
    td {
      
      // highlight today
      &.today {
        
        background-color: color("red", "lighten-4");
        
        .date-indicator {
          span {
            border-color: color("red", "darken-2");
          }
          @extend .red;
          color: white;
          font-weight: bold;
        }
      }
      
      // make td 100px high
      height: 100px;
      
      // change padding
      padding: 0px 0px 10px 0px !important;
      
      // align top-left
      vertical-align: top;
      text-align: left;
      
      // style date-indicator
      .date-indicator {
        background-color: rgba(0,0,0,.1);
        margin-bottom: 5px;
        
        span {
          padding: 0px 5px;
          min-width: 25px;
          display:block;
          border-bottom: 1px solid lightgray;
        }
      }
      
      // style the events
      .event {
        
        // single line events
        white-space: nowrap;
        overflow-x: hidden;
        line-height: normal;
        padding: 0px 0px 0px 5px;
        margin-right: 5px;
        
        a {
          color:inherit;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
    // out-of-date cells are faded
    td.faded {
      color: gray;
    }
  }

}

#events.show {
  
  div:not(.input-field) > i.prefix{
    position: relative;
    top: 8px;
  }
  
  // card has white border if necessary
  .card.card-dark {
    .card-action { border-color: white; }
  }
  
  .card a {
    cursor: pointer;
  }
  
  // style the sharing icons
  .sharing {

    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
      transition: all .3s linear;
    }

    img:hover {
      filter: none;
      cursor: pointer;
    }

  }
  
}