<!DOCTYPE html>
<html>
<head>
  <title>OurnaropaCalendar</title>
  <%= stylesheet_link_tag    "ournaropa_calendar/application", media: "all" %>
  <%= javascript_include_tag "ournaropa_calendar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
